#footer {
  // padding-top: 50px;
  background-color: $main2;
}

.f-info {
  .f-info__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid darken($main2, 10%);
    padding: 20px 0;
    @media #{$sm} {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      gap: 20px;
    }
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $main3;
      }
    }
    .left {
      @media #{$sm} {
        order: 2;
      }
      p {
        color: $black;
        margin: 0;
        padding: 0;
        font-size: 0.85rem;
      }
    }
    .right {
      @media #{$sm} {
        order: 1;
      }
      ul {
        list-style: none;
        padding: 0px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        @media #{$sm} {
          justify-content: center;
          gap: 5px;
        }
        li {
          margin: 0;
          padding: 0;
          a {
            color: $black;
            font-size: 0.85rem;
            &:hover {
              color: $main3;
            }
          }
        }
      }
    }
  }
}
