html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
  overflow-x: hidden;
}
.main {
  // padding: 30px 0;
  @media #{$sm} {
    // padding: 20px 0;
  }
}
.main {
  position: relative;
  z-index: 1;
  // margin-bottom: 30px;
}
.main.main-padding {
  padding-top: 30px;
}
.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
  @media #{$md} {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media #{$sm} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-template-default {
  // overflow: hidden;
  .entry-content {
    word-break: break-word;
    .container-narrow {
      @media #{$sm} {
        padding-left: 0;
        padding-right: 0px;
      }
    }
  }
}
.container-narrow {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  @media #{$md} {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-wide {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
}
// .entry-content {
//   .container-narrow {
//     @media #{$sm} {
//       padding-left: 0px;
//       padding-right: 0px;
//     }
//   }
// }

.container-full {
  // width: calc(100vw - 9px);
  max-width: 1600px;
  // width: 100vw;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  @media #{$sm} {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#go-to-top {
  cursor: pointer;
  position: fixed;
  text-align: center;
  z-index: 22;
  right: 20px;
  bottom: 30px;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  transform: translate(0, 100px);
  // padding: 11px;
  transition: all 0.2s ease;
  background-color: $main2;
  border: 2px solid #ffff;
  @media #{$sm} {
    bottom: 20px;
    right: 15px;
  }
  svg {
    margin-top: 5px;
    path {
      fill: #ffff;
    }
  }
  &:hover {
    background-color: $main;
    transform: translate(0, 100px), scale(1.1);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
}

#go-to-top.active {
  transform: translate(0, 0);
}

.go-pagination {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  a {
    padding: 5px 1px;
    text-decoration: none;
    &:hover {
      color: $main2;
    }
  }
  span.current {
    background-color: $main2;
    color: #ffff;
    padding: 5px 5px;
    border-radius: 3px;
  }
}

.rank-math-breadcrumb {
  p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.8em;

    span {
      &:last-child {
        color: $black;
        font-size: 1em;
        display: inline-block;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-overflow: "----";
        text-align: left;
      }
    }
  }
}

.slider-hero {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  //   height: 70vh;
  .item {
    width: 100%;
    height: 85vh;

    .img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;

      background-size: cover;
      background-position: center;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.31923144257703081) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
    .content {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0%);
      text-align: center;

      width: 100%;
      max-width: 998px;
      padding: 0 20px;
      * {
        color: #fff;
      }
      p {
        margin-bottom: 40px;
      }
      .btn-main {
        margin: 15px 0;
        padding: 10px 35px;
        font-size: 18px;
        background-color: #f8f4e8;
        color: $black !important;
      }
    }
  }
}

.xs-display-none {
  @media #{$xs} {
    display: none !important;
  }
}
