body {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
  // line-height: 1.2;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "neulis-neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: $black;
  transition: all 0.3s;
}
.big-title,
.woocommerce-products-header__title {
  padding: 0;
  margin: 0;
  font-size: 3.8rem;
  color: $black;
  margin-bottom: 30px;
  @media #{$sm} {
    font-size: 2.2rem !important;
  }
}
.has-x-large-font-size {
  font-size: 5.125rem !important;
  @media #{$sm} {
    font-size: 3.8rem !important;
  }
}
h1,
.h1 {
  font-size: 2.5rem;
  color: $black;
  @media #{$sm} {
    font-size: 1.8rem;
  }
}
h2,
.h2 {
  font-size: 2rem;
  color: $black;
  @media #{$sm} {
    font-size: 1.5rem;
  }
}
h3,
.h3 {
  font-size: 1.75rem;
  color: $black;
  @media #{$sm} {
    font-size: 1.35rem;
  }
}
h4,
.h4 {
  font-size: 1.5rem;
  color: $black;
  @media #{$sm} {
    font-size: 1rem;
  }
}
h5,
.h5 {
  font-size: 1.25rem;
  color: $black;
  @media #{$sm} {
    font-size: 1rem;
  }
}
h6,
.h6 {
  font-size: 1rem;
  color: $black;
  @media #{$sm} {
    font-size: 0.85rem;
  }
}
p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
  color: $light-black;
  transition: all 0.3s;
  @media #{$sm} {
    font-size: 0.875rem;
  }
}
ul {
  margin: 0;
  margin-bottom: 20px;
}
li {
  margin-bottom: 5px;
  font-size: 1rem;
  line-height: 1.5;
  color: $light-black;
}
li::marker {
  color: $main;
}

b,
strong {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: $black;
}
a {
  color: $main2;
  &:hover {
    color: $main;
  }
}
span {
  color: $black;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.aligncenter {
  text-align: center;
}
