// Query
$xx: "only screen and (max-width: 350px)";
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$slg: "only screen and (max-width: 1200px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";
$xxlg: "only screen and (max-width: 1500px)";

$main: #f2db72;
$main-light: #f8f4e8;
$main2: #b3cce6;
$main3: #e8f9fb;

$black: #000;
$light-black: #4a4a4a;
$gray: #e1e1e1;
$light-gray: #f4f4f4;
