@import "../../src/css/scss/variable";

body #header {
  position: absolute;
  z-index: 99;
  width: 100%;
  background: none;
  border: none;
  .menu-item > a {
    span {
      color: #fff;
      @media #{$lg} {
        color: $black;
      }
    }
  }
  path {
    fill: #fff;
  }
  .close-nav path,
  .arrow-plus path {
    @media #{$lg} {
      fill: $black;
    }
  }

  .navbar__brand {
    path {
      fill: #fff;
    }
  }
  .wpml-ls-statics-shortcode_actions li a,
  .wpml-ls-statics-shortcode_actions li a span {
    color: #fff !important;
    transition: all 0.3s ease;
    &:hover {
      color: #d4df7e !important;
    }
  }

  .navbar__toggler .navbar__toggler__btn span {
    background-color: #fff;
  }
}
body #header.sticky,
body #header:hover {
  background-color: #fff !important;
  .menu-item > a {
    span {
      color: $black;
      &:hover {
        color: #d4df7e;
      }
    }
  }
  path {
    fill: $black;
  }
  .navbar__brand {
    path {
      fill: $black;
    }
  }
  .wpml-ls-statics-shortcode_actions li a,
  .wpml-ls-statics-shortcode_actions li a span {
    color: $black !important;
    transition: all 0.3s ease;
    &:hover {
      color: #d4df7e !important;
    }
  }

  .navbar__toggler .navbar__toggler__btn span {
    background-color: $black;
  }
}

.slider-hero {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  //   height: 70vh;
  .item {
    width: 100%;
    height: 85vh;

    .img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;

      background-size: cover;
      background-position: center;
    }
    .content {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0%);
      text-align: center;
      width: 100%;
      max-width: 998px;
      padding: 0 20px;
      @media #{$sm} {
        bottom: 40px;
      }
      * {
        color: #fff;
      }
      .h1 {
        margin-bottom: 50px;
        @media #{$sm} {
          margin-bottom: 30px;
          line-height: 1.1;
          font-size: 31px;
        }
      }

      .btn-main {
        margin: 15px 0;
        padding: 10px 45px;
        font-size: 16px;
        width: 100%;
        max-width: 400px;
        font-weight: bold;
        background-color: #f8f4e8;
        color: $black !important;
      }
    }
  }
}
