body #header {
  position: absolute;
  z-index: 99;
  width: 100%;
  background: none;
  border: none;
}
body #header .menu-item > a span {
  color: #fff;
}
@media only screen and (max-width: 1300px) {
  body #header .menu-item > a span {
    color: #000;
  }
}
body #header path {
  fill: #fff;
}
@media only screen and (max-width: 1300px) {
  body #header .close-nav path,
  body #header .arrow-plus path {
    fill: #000;
  }
}
body #header .navbar__brand path {
  fill: #fff;
}
body #header .wpml-ls-statics-shortcode_actions li a,
body #header .wpml-ls-statics-shortcode_actions li a span {
  color: #fff !important;
  transition: all 0.3s ease;
}
body #header .wpml-ls-statics-shortcode_actions li a:hover,
body #header .wpml-ls-statics-shortcode_actions li a span:hover {
  color: #d4df7e !important;
}
body #header .navbar__toggler .navbar__toggler__btn span {
  background-color: #fff;
}

body #header.sticky,
body #header:hover {
  background-color: #fff !important;
}
body #header.sticky .menu-item > a span,
body #header:hover .menu-item > a span {
  color: #000;
}
body #header.sticky .menu-item > a span:hover,
body #header:hover .menu-item > a span:hover {
  color: #d4df7e;
}
body #header.sticky path,
body #header:hover path {
  fill: #000;
}
body #header.sticky .navbar__brand path,
body #header:hover .navbar__brand path {
  fill: #000;
}
body #header.sticky .wpml-ls-statics-shortcode_actions li a,
body #header.sticky .wpml-ls-statics-shortcode_actions li a span,
body #header:hover .wpml-ls-statics-shortcode_actions li a,
body #header:hover .wpml-ls-statics-shortcode_actions li a span {
  color: #000 !important;
  transition: all 0.3s ease;
}
body #header.sticky .wpml-ls-statics-shortcode_actions li a:hover,
body #header.sticky .wpml-ls-statics-shortcode_actions li a span:hover,
body #header:hover .wpml-ls-statics-shortcode_actions li a:hover,
body #header:hover .wpml-ls-statics-shortcode_actions li a span:hover {
  color: #d4df7e !important;
}
body #header.sticky .navbar__toggler .navbar__toggler__btn span,
body #header:hover .navbar__toggler .navbar__toggler__btn span {
  background-color: #000;
}

.slider-hero {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
}
.slider-hero .item {
  width: 100%;
  height: 85vh;
}
.slider-hero .item .img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slider-hero .item .content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  width: 100%;
  max-width: 998px;
  padding: 0 20px;
}
@media only screen and (max-width: 768px) {
  .slider-hero .item .content {
    bottom: 40px;
  }
}
.slider-hero .item .content * {
  color: #fff;
}
.slider-hero .item .content .h1 {
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .slider-hero .item .content .h1 {
    margin-bottom: 30px;
    line-height: 1.1;
    font-size: 31px;
  }
}
.slider-hero .item .content .btn-main {
  margin: 15px 0;
  padding: 10px 45px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  font-weight: bold;
  background-color: #f8f4e8;
  color: #000 !important;
}/*# sourceMappingURL=slider.css.map */